<nav class='current'><h1 style='text-align: center;'>{{controller.node.hostname}} - Rule #{{controller.rule.id}}</h1></nav>
<article>
    <section>
        <ul class="list">
            <li class="comp">
                <aside>
                    <img src="assets/images/rule.png" class="category-image">
                </aside>
                <div>
                    <h2>{{ controller.rule.raw }}</h2>
                </div>
            </li>
        </ul>

    </section>
</article>
